Django==6.0.5
psycopg==3.2.9
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
requests==2.32.3
cashfree-pg==4.3.10
httpx==0.28.1
channels==4.3.2
channels-redis==4.3.0
